<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!--/head-->
<div th:insert="~{fragments/header/header::header}"></div>
<!--/head-->

<!--body-->

<body>
<!--note:th:insert: phần header của body đã được tách thành file body-header
trong thư mục /template/fragments/body, fragment đó nằm trong file body-header.html
 và được đánh tên bodyHeader
 Một file có thể chứa nhiều fragment
 -->
<div th:insert="~{fragments/body/body-header::bodyHeader}"></div>
<!--/header-->

<!--slider-->
<div th:insert="~{fragments/body/body-slider::bodySlider}"></div>
<!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <!--Category-->
			<div th:insert="~{fragments/body/body-left-category::bodyCategory}"></div>
            <!--Category-->

			<!--features_items-->
			<div th:replace="~{fragments/body/body-right-feature-item::bodyFeatureItem}"></div>
			<!--features_items-->

        </div>
    </div>
</section>

<!--Footer-->
<div th:insert="~{fragments/footer/footer::footer}"></div>
<!--Footer-->



<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/price-range.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/main.js"></script>
</body>
<!--body-->
</html>