<!--<div class="offcanvas offcanvas-end offcanvas-size-xl" tabindex="-1" id="offcanvasCreateClassRoom">-->
<!--    <div class="offcanvas-header">-->
<!--        <h5 class="offcanvas-title">Thêm lớp học</h5>-->
<!--        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>-->
<!--    </div>-->
<!--    <div class="offcanvas-body">-->

<!--    </div>-->
<!--</div>-->

<!--<div class="offcanvas offcanvas-end offcanvas-size-xl" tabindex="-1" id="offcanvasEditClassRoom">-->
<!--    <div class="offcanvas-header">-->
<!--        <h5 class="offcanvas-title">Cập nhật lớp học</h5>-->
<!--        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>-->
<!--    </div>-->
<!--    <div class="offcanvas-body">-->

<!--    </div>-->
<!--</div>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <title>Quản lý sinh viên</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="4HsoGkeGTaJZgeY9pSBhPA4c1ObcfGxB8XcahhTp"/>

    <link rel="stylesheet" href="http://127.0.0.1:8000/vendors/daterangepicker/daterangepicker.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"/>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="http://127.0.0.1:8000/css/icons.min.css">

    <link rel="stylesheet" href="http://127.0.0.1:8000/css/app-saas.min.css" id="app-style">

    <link rel="stylesheet" href="http://127.0.0.1:8000/css/app.css">


</head>

<body>
<div class="fetch-loading d-none" id="fetch-loading">
    <img src="http://127.0.0.1:8000/images/logo-lg.png" alt="" class="img-fluid" width="300">
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="wrapper">

    <div class="navbar-custom">
        <div class="topbar container-fluid">
            <div class="d-flex align-items-center gap-lg-2 gap-1">

                <!-- Topbar Brand Logo -->
                <div class="logo-topbar">
                    <!-- Logo light -->
                    <a href="index.html" class="logo-light">
                    <span class="logo-lg">
                        <img src="http://127.0.0.1:8000/images/logo-lg.png" alt="logo">
                    </span>
                        <span class="logo-sm">
                        <img src="http://127.0.0.1:8000/images/logo-sm.png" alt="small logo">
                    </span>
                    </a>

                    <!-- Logo Dark -->
                    <a href="index.html" class="logo-dark">
                    <span class="logo-lg">
                        <img src="http://127.0.0.1:8000/images/logo-lg.png" alt="dark logo">
                    </span>
                        <span class="logo-sm">
                        <img src="http://127.0.0.1:8000/images/logo-sm.png" alt="small logo">
                    </span>
                    </a>
                </div>

                <!-- Sidebar Menu Toggle Button -->
                <button class="button-toggle-menu">
                    <i class="mdi mdi-menu"></i>
                </button>

                <!-- Horizontal Menu Toggle Button -->
                <button class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </div>

            <ul class="topbar-menu d-flex align-items-center gap-3">

                <li class="d-none1 d-sm-inline-block1">
                    <div class="nav-link" id="light-dark-mode" data-bs-toggle="tooltip" data-bs-placement="left"
                         title="Theme Mode">
                        <i class="ri-moon-line font-22"></i>
                    </div>
                </li>

                <li class="dropdown">
                    <a class="nav-link dropdown-toggle arrow-none nav-user px-2" data-bs-toggle="dropdown" href="#"
                       role="button" aria-haspopup="false" aria-expanded="false">
                    <span class="account-user-avatar">
                        <img src="http://127.0.0.1:8000/images/user.png" alt="user-image" width="32"
                             class="rounded-circle">
                    </span>
                        <span class="d-lg-flex flex-column gap-1 d-none">
                        <h5 class="my-0">Trịnh Xuân Sơn</h5>
                        <h6 class="my-0 fw-normal">Super Admin</h6>
                    </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated profile-dropdown">
                        <!-- item-->
                        <div class=" dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Chào mừng bạn !</h6>
                        </div>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item btn-show-profile"
                           data-url="http://127.0.0.1:8000/load-profile">
                            <i class="mdi mdi-account-circle me-1"></i>
                            <span>Tài khoản của tôi</span>
                        </a>

                        <!-- item-->
                        <a href="http://127.0.0.1:8000/dang-xuat" class="dropdown-item">
                            <i class="mdi mdi-logout me-1"></i>
                            <span>Đăng xuất</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="offcanvas offcanvas-end offcanvas-size-xl" tabindex="-1" id="offcanvasEditProfile">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Tài khoản của tôi</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
        </div>
    </div>

    <div class="leftside-menu">

        <!-- Brand Logo Light -->
        <a href="http://127.0.0.1:8000" class="logo logo-light">
        <span class="logo-lg">
            <img src="http://127.0.0.1:8000/images/logo-lg.png" alt="logo">
        </span>
            <span class="logo-sm">
            <img src="http://127.0.0.1:8000/images/logo-sm.png" alt="small logo">
        </span>
        </a>

        <!-- Brand Logo Dark -->
        <a href="http://127.0.0.1:8000" class="logo logo-dark">
        <span class="logo-lg">
            <img src="http://127.0.0.1:8000/images/logo-lg.png" alt="dark logo">
        </span>
            <span class="logo-sm">
            <img src="http://127.0.0.1:8000/images/logo-sm.png" alt="small logo">
        </span>
        </a>

        <!-- Sidebar Hover Menu Toggle Button -->
        <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
            <i class="ri-checkbox-blank-circle-line align-middle"></i>
        </div>

        <!-- Full Sidebar Menu Close Button -->
        <div class="button-close-fullsidebar" style="position: absolute; right: 16px;">
            <i class="ri-close-fill align-middle"></i>
        </div>

        <!-- Sidebar -left -->
        <div class="h-100" id="leftside-menu-container" data-simplebar>

            <ul class="side-nav">

                <li class="side-nav-item">
                    <a href="http://127.0.0.1:8000" class="side-nav-link">
                        <i class="uil-home-alt"></i>
                        <span> Dashboard </span>
                    </a>
                </li>

                <li class="side-nav-item ">
                    <a href="http://127.0.0.1:8000/quan-ly-khoa"
                       class="side-nav-link ">
                        <i class="uil-briefcase-alt"></i>
                        <span> Quản lý khoa </span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="http://127.0.0.1:8000/quan-ly-nganh" class="side-nav-link">
                        <i class="uil-bag"></i>
                        <span> Quản lý ngành </span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="http://127.0.0.1:8000/quan-ly-lop" class="side-nav-link">
                        <i class="uil-receipt-alt"></i>
                        <span> Quản lý lớp </span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="http://127.0.0.1:8000/quan-ly-mon-hoc" class="side-nav-link">
                        <i class="uil-swatchbook"></i>
                        <span> Quản lý môn học </span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="http://127.0.0.1:8000/quan-ly-giao-vien" class="side-nav-link">
                        <i class="uil-book-reader"></i>
                        <span> Quản lý giáo viên </span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="http://127.0.0.1:8000/quan-ly-sinh-vien" class="side-nav-link">
                        <i class="uil-users-alt"></i>
                        <span> Quản lý sinh viên </span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="http://127.0.0.1:8000/quan-ly-hoc-phan" class="side-nav-link">
                        <i class="uil-book-open"></i>
                        <span> Quản lý học phần </span>
                    </a>
                </li>

            </ul>

            <div class="clearfix"></div>
        </div>
    </div>


    <div class="content-page">
        <div class="content">


            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Quản lý lớp học</h4>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-12">
                        <button data-url="http://127.0.0.1:8000/them-lop-hoc"
                                class="btn btn-primary btn-show-create-classroom">Thêm
                            lớp học
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 table-responsive">
                        <table id="classroom-table" class="table table-bordered table-centered mb-0 text-nowrap">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên lớp</th>
                                <th>Tối đa sinh viên</th>
                                <th>Số sinh viên hiện tại</th>
                                <th>Thuộc ngành</th>
                                <th>Thuộc khoa</th>
                                <th>GVCN</th>
                                <th>Số điện thoại GVCN</th>
                                <th></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <script>
                    document.write(new Date().getFullYear())


                        </script>
                        © Student Management - https://management.student.haui.vn
                    </div>
                </div>
            </div>
        </footer>

    </div>

</div>

<script src="http://127.0.0.1:8000/js/vendor.min.js"></script>

<script src="http://127.0.0.1:8000/vendors/apexcharts/apexcharts.min.js"></script>
<script src="http://127.0.0.1:8000/vendors/daterangepicker/daterangepicker.js"></script>
<script src="http://127.0.0.1:8000/vendors/daterangepicker/moment.min.js"></script>

<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });


</script>

<script src="http://127.0.0.1:8000/js/hyper-config.js"></script>
<script src="http://127.0.0.1:8000/js/app.min.js"></script>
<script src="http://127.0.0.1:8000/js/app.js"></script>

<script>
        $(document).ready(function() {
            const table = $('#classroom-table');
            const elCreateClassRoom = $('#offcanvasCreateClassRoom');
            const offcanvasCreateClassRoom = new bootstrap.Offcanvas(elCreateClassRoom[0]);

            const editClassRoom = $('#offcanvasEditClassRoom');
            const offcanvEditClassRoom = new bootstrap.Offcanvas(editClassRoom[0]);

            //show create classroom
            $(document).on('click', '.btn-show-create-classroom', function() {

                axiosGet($(this)[0].dataset.url, function(response) {
                    elCreateClassRoom.find('.offcanvas-body').html(response.data);

                    $('.select2').select2({
                        dropdownParent: elCreateClassRoom
                    });
                });

                offcanvasCreateClassRoom.show();
            });

            //show edit classroom
            $(document).on('click', '.btn-show-edit-classroom', function() {

                axiosGet($(this)[0].dataset.url, function(response) {
                    editClassRoom.find('.offcanvas-body').html(response.data);

                    $('.select2').select2({
                        dropdownParent: editClassRoom
                    });

                    const selectTeacher = $('.update-classroom .select2[name="teacher_id"]');
                    const selectMajor = $('.update-classroom .select2[name="major_id"]');

                    selectTeacher.val(selectTeacher[0].dataset.value);
                    selectTeacher.trigger('change');

                    selectMajor.val(selectMajor[0].dataset.value);
                    selectMajor.trigger('change');
                });

                offcanvEditClassRoom.show();
            });

            //store classroom
            $(document).on('click', '.btn-store-classroom', function() {
                const form = $(this).parents('form');

                axiosPost(form.attr('action'), form.serialize(), function(response) {
                    offcanvasCreateClassRoom.hide();

                    table.DataTable().ajax.reload();
                });
            });

            //delete classroom
            $(document).on('click', '.confirm-delete-classroom', function() {
                const url = $(this)[0].dataset.url;
                showConfirm('Bạn có chắc muốn xóa lớp học không?', function() {
                    axiosDelete(url, function() {
                        table.DataTable().ajax.reload();
                    });
                });
            });

            //update classroom
            $(document).on('click', '.btn-update-classroom', function() {
                const form = $(this).parents('form');

                axiosPut(form.attr('action'), form.serialize(), function(response) {
                    offcanvEditClassRoom.hide();

                    table.DataTable().ajax.reload();
                });
            });

            //init datatable
            table.DataTable({
                ...configDatatable,
                ajax: "http://127.0.0.1:8000/ds-lop-hoc"
            });
        });


</script>
<script>
        $(document).ready(function() {
            const el = $('#offcanvasEditProfile');
            const canvasProfile = new bootstrap.Offcanvas(el[0]);

            $(document).on('click', '.btn-show-profile', function() {
                axiosGet($(this)[0].dataset.url, function(response) {
                    el.find('.offcanvas-body').html(response.data);
                });
                canvasProfile.show();
            });

            $(document).on('click', '.btn-profile-update-student', function() {
                const form = $(this).parents('form');

                axiosPut(form.attr('action'), form.serialize(), function(res) {
                    canvasProfile.hide();

                    showAlert(res.data.message, 'success');
                });
            });

            $(document).on('click', '.btn-profile-update-password', function() {
                const form = $(this).parents('form');

                axiosPut(form.attr('action'), form.serialize(), function(res) {
                    canvasProfile.hide();

                    showAlert(res.data.message, 'success');
                });
            });
        });


</script>
</body>

</html>
